TAVILY_API_KEY=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
GROQ_API_KEY=gsk_4r82fWJ6YyOGdJe2c6BuWGdyb3FYEf4nNXCg7PF3dD9FePbJuOuugroq
YOUTUBE_API_KEY=AIzaSyDjKdiX-Weut1zPJG42FFPbRX7k8QSYaSQ
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
CRON_SECRET=Feyisharami2020@